body {
	background-color: #666;
	color:white;
	font-family: 'Lato', sans-serif;
}

.content-wrap {
	width: 800px;
	margin: 0 auto;
}

.image-display {
	text-align: center;
}


#title {
	text-align: center;
	font-size: 5em;
}
#title span {
	font-weight: 300;
}
#someImage {
	font-size: 2em;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: TranslateX(-50%);
}

.spincounter {
	display: inline-block;
	overflow: hidden;
	height: 0.8em;

}

.spincounter .placeholder {
	position: relative;
	visibility: hidden;
}

.spincounter .spinner {
	visibility: visible;
	line-height: 80%;
	position: absolute;
	left: 0px;
	top: 0px;

	transition: top 1.5s ease-out;
}

.notransition {
	transition: none !important;
}

#image-preview {
	height: 500px;
	width: auto;
}

#image-word-count {
	font-size: 5em;
	font-weight: 300;
}

#image-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#image-submit {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#image-submit + label {
	visibility: hidden;
}

#image-upload-form input + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

#image-upload-form input:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

#image-upload-form input + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

#image-upload-form input + label {
    color: #f1e5e6;
    background-color: #d3394c;
}

#image-upload-form input:focus + label,
#image-upload-form input + label:hover {
    background-color: #722040;
}

#image-input + label {
    color: #111111 !important;
    background-color: white !important;
}

#image-input:hover + label {
    background-color: #dddddd !important;
}
